/* infinite carousel */
.carousel-track {
  > * {
    flex: 0 0 100%;
  }
}

.carousel-item {
  display: flex;
  gap: 20px;
  margin-left: 20px;

  will-change: transform;
  animation: scrolling 40s linear infinite;

  &:hover {
    animation-play-state: paused;
  }

  /* select all div children */
  > div {
    img {
      aspect-ratio: 3 / 4;
      object-fit: cover;
      max-width: 50vw;
      height: 100vh;

      /* media query for md and below */
      @media (max-width: 768px) {
        max-width: 90vw;
      }
    }
  }
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
