@keyframes spin-reverse {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.cd {
  position: relative;
  animation: spin-reverse 20s linear infinite;
  box-shadow: 0 0 30px 16px rgba(0, 0, 0, 0.17);
  height: 70%;
  width: auto;

  @media (max-width: 768px) {
    height: 300px;
    width: 300px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* shine */
.cd::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(246, 246, 246, 1) 50%,
    rgba(255, 255, 255, 0) 70%
  );
  mix-blend-mode: overlay;
  border-radius: 50%;
  z-index: 5;
  pointer-events: none;
  box-shadow: inset 0 0.2em 0.2em rgba(255, 255, 255, 0.95);
}

.cd-hole {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  height: 20%;
  background-color: #ffffff02;
  border-radius: 50%;
  z-index: 20;
  box-shadow: inset 0 0 0.4em rgba(0, 0, 0, 0.95);
}

/* cd shine/glow for loading state */
.cd::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0) 70%
  );
  border-radius: 50%;
  z-index: 8;
  pointer-events: none;
}

/* controls */
button:hover,
svg:hover {
  animation: glow 1.5s;
}

svg {
  color: #fff;
  fill: #fff;
}

.cdSvg {
  width: 100%;
  height: 100%;
  display: block;
}

@keyframes glow {
  0% {
    filter: drop-shadow(0 0 2px #ffffff18);
  }
  50% {
    filter: drop-shadow(0 0 8px #ffffff41);
  }
  100% {
    filter: drop-shadow(0 0 2px #ffffff18);
  }
}
