/* public navigation */
.navigation--public {
  width: 100%;
}

.navigation--public-content {
  max-width: 1200px;
  width: 100%;
  min-width: 200px;
  margin: 0 auto;

  @media (max-width: 768px) {
    width: 90vw;
  }
}

.menu-item {
  opacity: 0;
  animation: bubble-fade-in 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275)
    forwards;
}

.menu-item--closing {
  animation: bubble-fade-out 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045)
    forwards;
}

@keyframes bubble-fade-in {
  from {
    opacity: 0;
    transform: translateY(-20px) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes bubble-fade-out {
  from {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  to {
    opacity: 0;
    transform: translateY(-20px) scale(0.9);
  }
}
