@import 'tailwindcss';

/* SF Pro */
@font-face {
  font-family: 'SF Pro';
  src: url('/src/assets/fonts/SF-Pro.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro';
  src: url('/src/assets/fonts/SF-Pro-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* New York */
@font-face {
  font-family: 'New York';
  src: url('/src/assets/fonts/NewYork.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'New York';
  src: url('/src/assets/fonts/NewYork-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* SF Mono */
@font-face {
  font-family: 'SF Mono';
  src: url('/src/assets/fonts/SF-Mono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --shadow-s:
    inset 0 1px 2px #ffffff30, /* top highlight */ 0 2px 2px #00000030,
    /* dark shadow */ 0 2px 4px #00000015; /* soft shadow */

  --shadow-m:
    inset 0 1px 2px #ffffff50, /* top highlight */ 0 2px 4px #00000030,
    /* dark shadow */ 0 4px 8px #00000015; /* soft shadow */

  --shadow-l:
    inset 0 1px 2px #ffffff70, /* top highlight */ 0 4px 6px #00000030,
    /* dark shadow */ 0 6px 10px #00000015; /* soft shadow */
  --border-radius: 8px;
  --border-radius-lg: 16px;
  --border-radius-xl: 24px;
  --border-radius-circle: 50%;
}

html {
  /* hide scrollbar */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  font-family: 'SF Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;

  background-color: #0c0c0c;
}

code {
  font-family: 'SF Mono', monospace;
}

.liquid-glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px) saturate(120%);
  -webkit-backdrop-filter: blur(20px) saturate(120%);
  border: 1.5px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 2px 12px #0003,
    inset 0 1px #ffffff1a;

  color: #fff;

  svg,
  img {
    fill: #fff;
    filter: brightness(0) invert(1);
  }
}

/* section*/
section {
  margin: 64px 0px;

  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;

    + div {
      margin-top: 64px;
    }

    + footer {
      margin-top: 64px;
    }
  }
}

/* page transition */
/* on page load, navigate to other page */
@keyframes scale-fade-in {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.page-transition {
  animation: scale-fade-in 0.4s cubic-bezier(0.3, 0, 0, 1) forwards;
}

.cursive {
  font-family: 'New York', serif;
}

.mono {
  font-family: 'SF Mono', monospace;
}
