@import 'tailwindcss';
@import './styles/Gradient.css';
@import './styles/Background.css';

html {
  /* hide scrollbar */
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-optical-sizing: auto;
  font-feature-settings: 'salt' 1;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-dark);
  color: white;
}

@layer components {
  .bg-scanline {
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.1) 50%,
      transparent 50%
    );
    background-size: 100% 4px;
  }

  .topographic-bg {
    --topo-blue: #202f43;
    background-color: #0a0c11;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1000' height='1000' viewBox='0 0 1000 1000'%3E%3Cstyle%3E path %7B stroke-dasharray: 1000; stroke-dashoffset: 1000; animation: draw 3s ease-out forwards; %7D @keyframes draw %7B to %7B stroke-dashoffset: 0; %7D %7D %3C/style%3E%3Cpath d='M0 200 Q 250 100 500 200 T 1000 200 M0 400 Q 300 550 600 400 T 1000 400 M0 600 Q 200 750 500 600 T 1000 600 M0 800 Q 400 700 700 800 T 1000 800' fill='none' stroke='%23202f43' stroke-width='2'/%3E%3C/svg%3E");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .halftone-aura {
    background-image: radial-gradient(circle, #fff 1px, transparent 1px);
    background-size: 4px 4px;
    mask-image: radial-gradient(
      circle,
      rgb(255, 255, 255, 0.2),
      transparent 80%
    );
  }

  .zine-image {
    filter: grayscale(1) contrast(5) brightness(1) blur(1.5px);
  }

  .zine-group::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(88, 160, 255, 0.7);
    opacity: 0;
    mix-blend-mode: color;
    pointer-events: none;
    transition: opacity 1s ease;
  }

  .zine-group:hover::after {
    opacity: 1;
    transition: opacity 2s ease;
  }

  .zine-group:hover .zine-image {
    filter: grayscale(1) contrast(2) brightness(1);
    transition: filter 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

@theme {
  --color-dark: #040404;
  --animate-marquee: marquee 20s linear infinite;

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
